body{
    background-image: linear-gradient(135deg,#ec09bb 0%,#764ba2 100%);
    margin: 0;
    padding: 0;
    border: none;
}
.bestronge {
    display:block;
    margin: 4.4% 15%;
    padding: 0;
    text-align:center;
    width: 70%;
    

}
.dos{
    margin-top:-4.6px;
    padding: 0;
    border: none;

}
/*
button{
    background: black;
    color: aliceblue;
    margin-top: -60%;
    margin-left: 42%;
    position:absolute;
    height: 80px;
    width: 120px;
    display:block;

}*/
/* menu nav */
nav {
    position: fixed;
    top:0;
    left: 15%;
    width: 70%;
    height: 120px;
    padding: 25px 20px;
    background: rgba(0,0,0,0.6);
    box-sizing: border-box;
    border-bottom:1px solid #fff;

}
nav .logo{
    position: relative;
    float: left;
    width: 10px;
    height: 10px;
    padding: 0%;
    margin: 0%;
}
nav ul{
    list-style: none;
    float:none;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    background: #ec09bb;
    width: 100px;
    height: 60px;
    text-align: center;
    margin: 0 10px;
}
.main-nav-link {
    text-align: center;
    display: block;
    align-items: center;
    padding: 0;
    margin:10px 0;
    line-height: 90%;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
}
nav ul li a {
    line-height: 50px;
    width: 100%;
    color: #fff;
    padding:25px 5px;
    text-decoration: none;
    font-size:130%;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}
/* semana 1 de entrenamiento */
.semana1{
    width: 150px;
    height: 40px;
    top: -1250px;
    border: 0;
    margin-bottom: 175px;
    margin-left: 42%;
    display: block;
    position:relative;
    background-image: linear-gradient(135deg,#ecd509 0%,#e08b0c 100%);
    color: #fff;
    font-size: 25px;
    font-family:sans-serif;
    font-weight: bold;
    text-decoration: none;
}
/* controles responsivos */
@media screen and (max-width:980px) {
.bestronge {
    display:block;
    margin: 0;
    margin-top: 72px;
    padding: 0;
    text-align:center;
    width: 100%;
}
body {
    background: black;
}
nav{
    width: 100%;
    height: 70px;
    left: 0;
    padding-left:20%;
    padding-top: 10px;
    text-align: center;
}
nav ul li a {
    font-size: 12px;
    text-align: left;
    padding-left: 2px;
    width: 100%;
}
li{
    background-image: linear-gradient(135deg,#ec09bb 0%,#764ba2 100%);
    width: 100px;
    height: 40px;
    text-align: center;
    margin: 0 10px;
    border-radius: 6px;
}
.main-nav-link {
    text-align: center;
    display: block;
    align-items: center;
    padding: 0;
    margin:6px 0;
    line-height:normal;
    position: relative;
    color: beige
    font-weight: bold;
    text-transform: uppercase;

}

nav .logo{
    text-align: right;
    margin-top: -10px;
    margin-left:-75px;
    padding: 0;
    position:absolute;
    display:block;
}
/* semana 1 de entrenamiento responsive */
.semana1{
    width: 100px;
    height: 20px;
    top: -566px;
    border: 0;
    margin-bottom: 78px;
    margin-left: 42%;
    display: block;
    position:relative;
    background-image: linear-gradient(135deg,#ecd509 0%,#e08b0c 100%);
    color: #fff;
    font-size: 12px;
    font-family:sans-serif;
    font-weight: bold;
    text-decoration: none;
}
}