body{
    background-image: linear-gradient(135deg,#ec09bb 0%,#764ba2 100%);
    margin: 0;
}
.semana1{
    display:block;
    margin: auto;
    text-align: center;

}
button{
    background: black;
    color: aliceblue;
    margin-top: -70%;
    margin-left: 70%;
    position:absolute;
    height: 80px;
    width: 120px;
    display:block;

}